@font-face {
    font-family: rb-r;
    src: url(../fonts/Roboto-Regular.ttf);
}
body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.header__top__container{
    display: flex;
}
.header__top__container img{
    margin-right: 8px;
}
.header__top{
    background-color: #ADC9A6;
    height: 40px;
    display: flex;
    align-items: center;
}
.header__top__container p{
    color: #153C3C;
    line-height: 24px;
    font-size: 11px;
    font-family: rb-r;

}
.header__bottom__container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__nav{
    display: flex;
}
.header__item{
    list-style: none;
    padding: 0px 25px;
}
.header__link{
    color: #DDE4E4;
    font-size: 15px;
    line-height: 24px;
    font-family: rb-r;
    text-decoration: none;
}
.header__logo a img{
    margin-right: 72px;
}
.header__buy a{
    padding: 8px 24px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    background-color: #84A17D;
    text-decoration: none;
    border-radius: 5px;
    font-family: rb-r;
    display: inline-block;
}
.header__bottom{
    background-color: #153C3C;
    margin-bottom: 114px;
}

/* ui */
.ui__p{
    color: #153C3C;
    line-height: 32px;
    font-size: 18px;
    font-family: rb-r;
    background-color: #F3F7F2;
    padding: 8px 16px;
    width: 283px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
}
.ui__h1{
    font-size: 62px;
    text-align: center;
    color: #172426;
    line-height: 80px;
    font-family: rb-r;
    margin-top: 11px;
    margin-bottom: 95px;
}
.landing{
    margin-top: 160px;
    margin-bottom: 99px;
}
/* page */

.page__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page__card{
    padding: 40px 56px 0px 56px;
    background-color: #F2F8F8;
    border-radius: 12px;
    margin-top: 40px;
}
.page__card__h1{
    font-size: 18px;
    line-height: 32px;
    color: #172426;
    font-family: rb-r;
    padding-bottom: 40px;
}
.page__card img{
    width: 485px;
}

/* other */

.panel__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.panel{
    width: 610px;
    height: 120px;
    background-color: #F2F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 40px;
}
.panel__h1{
    padding-left: 40px;
    font-family: rb-r;
    color: #172426;
    font-size: 21px;
    line-height: 32px;
}
.panel__img{
    padding-right: 52px;
    color: #153C3C;
}


.frame__container{
    background-image: url("../img/frame2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 110px;
    margin-top: 110px;
    height: 304px;
    border-radius: 8px;
}
.frame__div{
    padding-left: 59px;
    padding-top: 66px;
}
.frame__p{
    font-size: 36px;
    font-family: rb-r;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 30px;
    letter-spacing: 1.6px;
}
.frame__price{
    display: flex;
}
.frame__price p{
    margin-right: 24px;
}
.frame__button{
    background-color: #84A17D;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: rb-r;
    padding: 12px 43px;
    line-height: 24px;
}
.frame__price .price{
    font-family: rb-r;
    font-size: 40px;
    line-height: 48px;
    color: #ADC9A6;
}
.frame__price .info{
    font-size: 12px;
    color: #DDE4E4;
    line-height: 24px;
    font-family: rb-r;
}

.footer{
    background-color: #153C3C;
    height: 723px;
}
.footer__info{
    margin-right: 87px;
}
.footer__p{
    color: #FFFFFF;
    font-family: rb-r;
    line-height: 48px;
    letter-spacing: 1.6px;
    font-size: 34px;
    margin-bottom: 29px;
}
.footer__info span{
    font-size: 38px;
}
.footer__p1{
    font-family: rb-r;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.32px;
    color: #DDE4E4;
}

.footer__menu{
    display: flex;
    margin-bottom: 100px;
}
.footer__menu__top{
    display: flex;
}
.footer__menu__one{
    margin-right: 40px;
    width: 170px;
}
.container__footer{
    padding-top: 99px;
}
.footer__item{
    list-style: none;
}
.footer__item a{
    text-decoration: none;
    color: #6C8989;
}
.footer__item span{
    color: #F4F5F6;
    font-family: rb-r;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.footer__item{
    font-family: rb-r;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.footer__align{
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__align__p{
    color: #FFFFFF;
    font-family: rb-r;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.28px;
}
.footer__align__p span{
    color: #ADC9A6;
}
.footer__align__info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__align__info img{
    margin-right: 10px;
    height: 23px;
    width: 72px;
}

.footer__align__link{
    width: 208px;
}
.footer__align__ul{
    display: flex;
    list-style: none;
}
.footer__align__link a{
    margin-right: 25px;
}
.footer__align__item a{
    text-decoration: none;
    color: #DDE4E4;
    font-family: rb-r;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
